<h1>Listing of Bike Routes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>

  <% @bikeroutes.each do |bikeroute| %>
    <tr>
      <td><%= link_to bikeroute.name, bikeroute_path(bikeroute) %></td>
      <td><%= bikeroute.description %></td>

    </tr>
  <% end %>
</table>
