<p>
  <strong>Title:</strong>
  <%= @bikeroute.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @bikeroute.text %>
</p>

<%= link_to 'Back', bikeroute_path %>
<%= link_to 'Edit', edit_bikeroute_path(@bikeroute) %>
