<p>
  <strong>Name:</strong>
  <%= @bikeroute.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @bikeroute.description %>
</p>

<%= link_to 'Back', bikeroutes_path %>
<%= link_to 'Edit', edit_bikeroute_path(@bikeroute) %>
