<% provide(:title, "Help" ) %>
<h1>Help</h1>
<p>
  Have a suggestion?  Want to help us out?
</p>
<p>
  Check out our <a href="https://github.com/cycleready/cycleready-web/">github account</a> and make a comment using our <a href="https://github.com/cycleready/cycleready-web/wiki/Suggest-A-Route">wiki page.</a>
</p>
