<% provide(:title, "Home" ) %>
<h1 class="welcome-title">SF CycleReady</h1>
 <%= image_tag "SF-neighborhoods.jpg", :class=> "center-block img-responsive "%>

<div class="row">
<div class="col-md-3 center"><span class=" center-block glyphicon glyphicon-search" aria-hidden="true"></span></div>
<div class="col-md-3 center "><span class=" center-block glyphicon glyphicon-search" aria-hidden="true"></span></div>
<div class="col-md-3 center"><span class=" center-block glyphicon glyphicon-search" aria-hidden="true"></span></div>
<div class="col-md-3 center"><span class=" center-block glyphicon glyphicon-search" aria-hidden="true"></span></div>
</div>

<p>
  CycleReady helps hesitant bikers get the hang of urban biking and enables all riders to easily access bike info, swap tips, and advocate for their favorite routes.
</p>
<p>
  CycleReady is a web and mobile app that offers community-powered bike navigation, helps keep riders informed, and encourages hesitant cyclists to bike in San Francisco.
</p>
<p>
  <a href="http://www.cycleready.com">cycleready</a>
</p>
