<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Neighborhoods:</h3>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Routes</th>
          </tr>
        </thead>
        <tbody>
          <% @neighborhoods.each do |neighborhood| %>
            <tr>
              <td><%= link_to neighborhood.name, neighborhood %></td>
              <td>
                <% neighborhood.bikeroutes.each do |bikeroute| %>
                  <%= link_to bikeroute.name, bikeroute_path(bikeroute) %><%= "," unless bikeroute == neighborhood.bikeroutes.last %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
