#map {
  // position: absolute;
  // top: 0;
  // bottom: 0;
  width: 100%;
  height: 500px;
}

#map_container{
  height: auto;
  width: 100%;
}

.sparkline {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.route {
  fill: none;
  stroke: steelblue;
  stroke-width: 3px;
}

.route:hover {
  stroke: orange;
}
