body {
  padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

/* move neighborhood styles to stylesheet dedicated to mapping*/
.neighborhood {
  fill: rgba(177, 168, 153, 0.5);
  stroke: #38383a;
}
.neighborhood:hover {
 fill: rgba(247, 91, 68, 0.5);
}

#neighborhood-map{
  height: auto;
  width: 100%;
}

#neighborhood-info {
  border: 2px solid grey;
  border-radius: 10px;
  margin-bottom: 2%;
}

#selected-title {
  font-size: 2em;
  text-align: center;
  margin: 2%;
  border-radius: 10px;
  background-color: blue;
  color: white;
}

#selected-title-routes {
  font-size: 1.5em;
  text-align: center;
  margin-top: -3%;
  padding: 20px;
  color: darkgrey;
}
