/*
 *= require font-awesome
 */

body {
  padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.navbar-default {
  background-color: #757575;
  border-color: #757575;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #fefdff;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #fefdff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #fefdff;
  background-color: #494949;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #fefdff;
  background-color: #494949;
}
.navbar-default .navbar-toggle {
  border-color: #494949;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #494949;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #757575;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #fefdff;
}

.welcome-title{
  text-align:center;
}

.main-image{
margin-left:27%;
margin-top:20px;
}



@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fefdff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fefdff;
    background-color: #494949;
  }
}

/* move neighborhood styles to stylesheet dedicated to mapping*/
.neighborhood {
  fill: rgba(177, 168, 153, 0.5);
  stroke: #38383a;
}
.neighborhood:hover {
 fill: rgba(247, 91, 68, 0.5);
}

#neighborhood-map{
  height: auto;
  width: 100%;
}

#neighborhood-info {
  border: 1px solid grey;
  border-radius: 10px;
  padding-bottom: 7%;
  margin-bottom: 2%;
}

#selected-title {
  font-size: 2em;
  text-align: left;
  padding-left: 10px;
  margin: 2%;
  border-radius: 10px;
  background-color: blue;
  color: white;
}

#selected-neighborhood {
  margin-left: 10px;
}

#selected-title-routes {
  font-size: 1.5em;
  text-align: center;
  margin-top: -3%;
  margin-bottom: -4%;
  padding: 20px;
  color: darkgrey;
}

